@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');


@keyframes render {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes renderLinks {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes textTransition {
    0% {
      transform: translatex(-100%);
    }
    100% {
      transform: translatex(0);
    }
}


@keyframes fadeIn {
    0% {
      transform: scale(0%);
    }
    100%{
        transform: scale(100%);
    }
}

@keyframes fadeInRoom {
    0% {
        opacity: 0%;
    }
    65%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes fadeInRoomButton {
    0% {
        opacity: 0%;
        transform: translatey(-100%);
    }
    55%{
        opacity: 0%;
    }
    100% {
        opacity: 100%;
        transform: translatey(0);
    }
}


body{
    background-color: #A4DBDE;
    animation: 1.8s ease-in-out 0s 1 render;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.main{
    padding-top: 4%;
    display: flex;
    justify-content: center;
    font-family: 'Nerko One', cursive;
}

.main h1{
    font-size: 45px;
    font-weight: 400;
}

.main h2{
    font-size: 25px;
    font-weight: 400;
}

.left{
    height: 800px;
    width: 800px;
    color: white;
}

.left p{
    font-size: 20px;
    margin: 2px;

}

.leftText:nth-child(1){
    animation: 0.8s ease-in-out 0s 1 textTransition;
}
.leftText:nth-child(2){
    animation: 1s ease-in-out 0s 1 textTransition;
}

.leftText:nth-child(3){
    animation: 1.2s ease-in-out 0s 1 textTransition;
}

.leftTop{
    text-align: center;
    padding-bottom: 30px;
}

.leftTop img{
    width: 300px;
}

.leftBot{
}

.right{    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    width: 900px;
}

.circle1{
    position: absolute;
    width: 650px;
    height: 650px;
}

.circle1 img{
    animation: 1.5s ease-in-out 0s 1 fadeIn;
    width: 100%;
}

.myRoom img{
    animation: 2s ease-in-out 0s 1 fadeInRoom;
    width: 700px;
    filter: drop-shadow(10px 6px 6px rgba(0, 0, 0, 0.25));
}

.myRoomButton{
    animation: 3.2s ease-in-out 0s 1 fadeInRoomButton;
    text-align: center;
    color: white;
    font-size: 35px;
    position: absolute;
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.36);
    border: 7px solid rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    border-radius: 40px;
}

.myRoomButton p{
    margin: 0;
}

.right a{
    text-decoration: none;
    color: white;
}

.right a:hover{
    opacity: 0.5;
}

.linksList{
    display: flex;
    align-items: center;
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;

    animation: 0.8s ease-in-out 0s 1 renderLinks;

    color: #A4DBDE;
    background-color: #FFFDF5;
    width: 80px;
    height: 80px;
    margin: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.link img{
    width: 75%;
    opacity: 70%;
}

.link:hover img{
    opacity: 95%;
}

.link:hover{
    background-color: #FFF2C2;
}