.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    height: 100vh;
}

.left{
    background-color: lightgreen;
    height: 800px;
    width: 800px;
}

.right{
    background-color: beige;
    height: 800px;
    width: 800px;
}