@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

.main{
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.cardGroup{
    aspect-ratio: 1/1;
    width: 35vmin;
}

.card{
    aspect-ratio: 1/1;
    width: 35vmin;
    background-color: rgb(255, 255, 255);
    position: absolute;
    transition: 1s, transform 0.8s;
    display: grid;
    place-items: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 30px 90px;
    padding-top: 8px;
}

.cardImage{
    background-color: lightblue;
    width: 90%;
    height: 28vh;
    margin: 5px;
    overflow: hidden;
}

.cardImage img{
    width: 100%;
}

.cardText{
    width: 100%;
    display: flex;
}

.description{
    float: left;
    width: 70%;
}
.date{
    float: right;
}
.cardText p{
    margin: 0 5% 2% 5%;
    font-size: 18px;
    font-family: 'Nerko One', cursive;
    opacity: 70%;
}

.cardText a {
    text-decoration: none;
    color: black;
}

a:hover{
    color: #CF9FFF;;
}

.cardGroup .card:nth-child(1){
    transform: rotate(-10deg) translateY(-5%);
}

.cardGroup .card:nth-child(2){
    transform: rotate(2deg);
}

.cardGroup .card:nth-child(3){
    transform: rotate(-15deg) translate(-5%);
}

.cardGroup:hover .card:nth-child(1){
    transform: translate(-60%) rotate(-15deg);
}

.cardGroup:hover .card:nth-child(2){
    transform: translate(0%)  translateY(-10%);
}

.cardGroup:hover .card:nth-child(3){
    transform: translate(60%) rotate(15deg);
}


.cardGroup:hover .card:nth-child(1):hover{
    z-index: 100;
    transform: translate(-60%) rotate(-5deg);
}

.cardGroup:hover .card:nth-child(2):hover{
    z-index: 100;
    transform: rotate(-5deg);
}

.cardGroup:hover .card:nth-child(3):hover{
    z-index: 100;
    transform: translate(50%) rotate(5deg);

}